.image-section {
    width: 100%;
    height: 50px;
    .brand-logo {
        width: 175px;
    }
    .login-details {
        float: right;
        width: 135px;
        margin-right: 20px;
        p {
            margin: 0;
            height: 25px;
            font: normal 12px/normal Roboto, sans-serif;
            letter-spacing: 0.39px;
        }
        .title {
            padding-top: 5px;
            color: #73889a;
        }
        .date {
            color: #052c51;
        }
    }
}
.tab-section {
    margin: 50px 0 20px;
    .mat-tab-header .mat-tab-label {
        border: none !important;
        border-bottom: 1px solid #052c51 !important;
        border-radius: 0px !important;
        color: #052c51 !important;
        font: normal 16px/normal Roboto, sans-serif;
        &.mat-tab-label-active {
            border-bottom:2px solid #052c51 !important;
            background: transparent !important;
        }
    }
}