<div style="padding: 30px 0;">
    <div class="image-section">
        <img src="../../../../assets/trans-logo.png" alt="trans-logo" class="brand-logo"/>
        <div class="login-details">
            <p class="title">Last Login</p>
            <p class="date">{{ date }}</p>
        </div>
    </div>
    <div class="tab-section" *ngIf="!isHidden">
        <mat-tab-group>
            <mat-tab label="My Benefits"></mat-tab>
            <mat-tab label="My Preference"></mat-tab>
            <mat-tab label="Customer Service"></mat-tab>
          </mat-tab-group>
    </div>
</div>