.claims-container {
  background-color: #F8F8F8;

  .sub-heading {
    padding: 3px 0 5px 5px;
  }

  .claims-header {
    padding: 30px 10px 0 10px;
    text-align: left;
    font-weight: 500;
    color: #0069b5;
  }

  .icon-adjust {
    display: inline-flex;
    vertical-align: middle;
  }

  .adjust-color {
    display: inline-flex;
    vertical-align: middle;
    color: #000;
  }

  .progress-bar {
    padding: 40px 20px 10px 20px;

    .mat-progress-bar {
      height: 15px;
      border-radius: 10px;

      .mat-progress-bar-fill::after {
        background-color: #002c57;
      }

      .mat-progress-bar-buffer {
        background: #dde9e9;
      }
    }
  }

  .question-box {
    padding: 40px 20px 10px 20px;
    text-align: center;
    min-height: 15em;

    .question-label {
      padding-bottom: 15px;
      padding-bottom: 15px;
      text-align: left;
      font-weight: 500;
      color: #052c51;
    }
  }

  .preview {
    .mat-stroked-button:not([disabled]) {
      border-color: #f44336;
    }
  }

  .check-text {
    font-size: 12px;
    color: #002c54;
    margin-bottom: 10px;

    &.mat-checkbox-checked .mat-checkbox-background {
      background-color: #0069bb;
    }
  }

  .button-box {
    padding: 20px;
    button {
      height: 40px;
    }
  }

  .option {
    padding: 20px;
    margin-top: 15px;
    border-radius: 6px;
    border: solid 1px #cee8ff;
    color: #0069c1;

    &.selected {
      border-radius: 6px;
      border: solid 1px #0069c1;
      background-color: #002c57;
      color: #ffffff;
    }
  }

  .submit {
    width: 100%;

    .mat-raised-button.mat-warn {
      background-color: #ef0000;
    }

    &.mat-raised-button.mat-warn {
      background-color: #ef0000;
    }
  }

  .button-box-submit {
    padding: 10px 20px;

    button {
      height: 40px;
    }
  }

  .left-align {
    text-align: left;
  }

  .left {
    text-align: left;

    button {
      padding-left: 0;
      color: #0069bb;
    }
  }

  .blue {
    color: #0069bb;
  }

  .right-cam {
    text-align: right;

    button {
      padding-right: 0;
      color: #0069bb;
    }
  }

  .right {
    text-align: right;
  }

  .card {
    padding: 0;
  }

  .margin-box {
    padding: 20px 0;
  }


  .back {
    .mat-raised-button {
      color: #ef0000;
      width: 20%;
    }
  }


  .submit {
    .mat-raised-button {
      width: 100%;
    }
  }

  .card-heading {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.46px;
    color: #052c51;
    padding-bottom: 20px;
  }

  .gender {
    font-size: 12px;
    letter-spacing: 0.39px;
    color: #73889a;
    padding-bottom: 15px;
  }

  .margin-right {
    margin-right: 8%;
  }

  .radio-label {
    font-size: 14px;
    color: #052c51;
  }

  .gender-padding {
    padding: 20px 50px 30px 50px;
    border-bottom: 1px solid #c7d9e8;
  }

  .border-top {
    border-top: 1px solid #c7d9e8;
  }

  .question-padding-1 {
    padding: 20px 50px 0 50px;
  }

  .question-padding-0 {
    padding: 25px 50px 0 50px;
  }

  .question-padding-2 {
    padding: 0 50px 40px 50px;
  }

  .question-padding-1-2 {
    padding: 20px 50px 20px 50px;
  }

  .padding-top-chips {
    .mat-chip-list-wrapper {
      padding-top: 10px;

      .mat-chip.mat-standard-chip::after {
        background: #fff;
      }

      .mat-chip {
        background-color: white;
        font-size: 11px;

        .mat-icon {
          font-size: 12px;
          height: 12px;
          padding-left: 5px;
          width: 12px;
        }
      }
    }
  }

  .input {
    .mat-form-field-infix {
      width: 300px;
    }
  }

  .date {
    .mat-form-field-infix {
      width: 260px;
    }
  }

  .date_picker {
    text-align: left;
    padding-bottom: 25px;

    input {
      border-radius: 4px;
      background: transparent;
      border: solid 1px #cee8ff;
      height: 40px;
      width: 100%;
      font-family: inherit;
      padding-left: 5px;
    }
  }

  .margin-top {
    margin-top: 50px;
  }

  .bread-crumb {
    padding: 10px 0 25px 0;

    .icon-adjust {
      color: #a4a4a4;
      cursor: pointer;
      .mat-icon {
        font-size: 20px;
      }
    }

    .active {
      color: #0069b5;
    }
  }

  .button-blue-filled {
    width: 100px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 #d3d3d3;
    background-color: #0069bb;
  }

  .button-blue {
    width: 100px;
    height: 40px;
    border-radius: 6px;
    border-color: #0069bb;
    color: #0069bb;
  }

  .mat-photo-chip {
    .mat-chip-list-wrapper {
      display: inline-block
    }
  }

}
