<div class="claims-container" fxHide.gt-xs>
  <div class="claims-header" fxLayout="row">
    <div fxFlex="35" class="icon-adjust" (click)="goBack()">
      <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_left</mat-icon>
      <span class="sub-heading">Back</span>
    </div>
    <div fxFlex="65" class="adjust-color">
      <span class="sub-heading">Claim Submission</span>
    </div>
  </div>
  <div class="progress-bar">
    <mat-progress-bar class="claims-bar" [color]="'primary'" [mode]="'determinate'" [value]="progressiveCount">
    </mat-progress-bar>
  </div>
  <div class="question-box">
    <div class="question-label">
      {{ questionSet[queIndex].questionLabel }}
    </div>
    <div *ngIf="questionSet[queIndex] && questionSet[queIndex].isMutliple">
      <div *ngFor="let question of questionSet[queIndex].questions">
        <div class="question-label">
          {{ question.questionLabel }}
        </div>
        <div *ngIf="question.type === 'date'">
          <div *ngFor="let option of question.options">
            <div class="date_picker">
              <input type="date" placeholder="{{option.label}}" [(ngModel)]="option.value">
            </div>
          </div>
        </div>
        <div *ngIf="question.type === 'textarea'">
          <div *ngFor="let option of question.options">
            <mat-form-field appearance="outline" fxFlex="100">
              <textarea matInput cdkTextareaAutosize placeholder="{{option.label}}" [(ngModel)]="option.value"
                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="15"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="questionSet[queIndex].type === 'radio'">
      <div *ngFor="let option of questionSet[queIndex].options" class="option radio"
        [ngClass]="{ 'selected': option.value}" (click)="selectOption(option, questionSet[queIndex].options)">
        <mat-radio-button [checked]="option.value"></mat-radio-button>
        <span fxFlex="95">
          {{ option.label }}
        </span>
      </div>
    </div>
    <div *ngIf="questionSet[queIndex].type === 'input'">
      <div *ngFor="let option of questionSet[queIndex].options">
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>{{option.label}}</mat-label>
          <input matInput #input maxlength="10" placeholder="{{option.label}}" [(ngModel)]="option.value">
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="questionSet[queIndex].type === 'date'">
      <div *ngFor="let option of questionSet[queIndex].options">
        <div class="date_picker">
          <input type="date" placeholder="{{option.label}}" [(ngModel)]="option.value">
        </div>
      </div>
    </div>
    <div *ngIf="questionSet[queIndex].type === 'textarea'" fxLayout="column">
      <div *ngFor="let option of questionSet[queIndex].options">
        <mat-form-field appearance="outline" fxFlex="100">
          <textarea matInput cdkTextareaAutosize placeholder="{{option.label}}" [(ngModel)]="option.value"
            #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" cdkAutosizeMaxRows="15"></textarea>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="mat-elevation-z left-align" *ngIf="questionSet[queIndex].buttonText">
        <button mat-raised-button class="blue" (click)="getLocation()">
          <mat-icon>place</mat-icon> {{ questionSet[queIndex].buttonText }}
        </button>
      </div>
    </div>
    <div *ngIf="questionSet[queIndex].type === 'button'">
      <span fxFlex="50" class="left">
        <button mat-button [disableRipple]="true" (click)="onBrowseClick()" color="primary">
          {{questionSet[queIndex].options[0].label}} <mat-icon> attach_file</mat-icon>
        </button>
        <input #fileUpload type="file" style="display:none;" (change)="onFileSelected($event, queIndex )"
          [multiple]="false" />
        <mat-chip-list padding-top-chips aria-label="Fish selection">
          <mat-chip *ngFor="let attachment of attachments; let i = index">{{attachment[0].name.slice(0, 12) }} <mat-icon
              (click)="deleteAttach(i)">close</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </span>
      <span fxFlex="50" class="right-cam">
        <button mat-button [disableRipple]="true" (click)="getPhoto()" color="primary">
          {{questionSet[queIndex].options[1].label}} <mat-icon>camera_alt</mat-icon>
        </button>
        <input #photoUpload id="photoUploadId" type="file" style="display:none;"
          accept="image/x-png,image/jpeg,image/gif" (change)="upload(queIndex)" />
        <mat-chip-list aria-label="Fish selection" class="mat-photo-chip">
          <mat-chip *ngFor="let photo of photos; let i = index">{{photo.name.slice(0, 12) }} <mat-icon
              (click)="deletePhoto(i)">close</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </span>
    </div>
  </div>
  <div class="button-box" fxLayout="row" fxLayoutGap="50px">
    <div fxFlex="50" class="mat-elevation-z">
      <button mat-stroked-button class="button-blue" [disableRipple]="true" *ngIf="queIndex !== 0"
        (click)="getPreviousQuestions()" color="primary">
        Previous
      </button>
    </div>
    <div fxFlex="50" class="mat-elevation-z right" *ngIf="!isLast">
      <button mat-raised-button class="button-blue-filled" [disableRipple]="true" (click)="getNextQuestions()"
        color="primary">
        Next
      </button>
    </div>
    <div fxFlex="50" class="mat-elevation-z right" *ngIf="isLast">
      <button mat-raised-button class="button-blue-filled" [disableRipple]="true" (click)="getPreview()"
        color="primary">
        Preview
      </button>
    </div>
  </div>
  <div class="button-box-submit" fxLayout="column">
    <mat-checkbox class="check-text" *ngIf="isLast">Send claim updates on the registered mobile number</mat-checkbox>
    <div fxFlex="100" class="mat-elevation-z submit" *ngIf="isLast" (click)="onSubmit()">
      <button mat-raised-button class="button-blue-filled" [disableRipple]="true" color="primary">
        Submit
      </button>
    </div>
  </div>
</div>
<div class="claims-container" fxHide.xs>
  <app-header [isHidden]="true"></app-header>
  <div class="bread-crumb" fxLayout="row">
    <div class="icon-adjust" (click)="goBacktoBenfits()">My Benefits <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
    <div class="icon-adjust" (click)="goBack()">Policy detail <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
    <div class="active">Claim Process</div>
  </div>
  <div class="card-heading">
    <span>Patient Information</span>
  </div>
  <div class="pateint-info">
    <mat-card class="card" fxLayout="column">
      <div class="question-padding-0" fxLayout="row" fxFlex="100" fxLayoutGap="40px">
        <div fxFlex="40">
          <mat-form-field appearance="outline" class="input">
            <mat-label> First Name </mat-label>
            <input matInput #input maxlength="10" [(ngModel)]="fname">
          </mat-form-field>
        </div>
        <div fxFlex="40">
          <mat-form-field appearance="outline" class="input">
            <mat-label> Last Name </mat-label>
            <input matInput #input maxlength="10" [(ngModel)]="lname">
          </mat-form-field>
        </div>
      </div>
      <div class="question-padding-1" fxFlex="100" fxLayout="row" fxLayoutGap="40px">
        <div fxFlex="40">
          <mat-form-field appearance="outline" class="input">
            <mat-label> Relationship with Employee </mat-label>
            <mat-select [(ngModel)]="relationship" (selectionChange)="relationSelection($event.value)">
              <mat-option value="Self">Self</mat-option>
              <mat-option value="Father">Father</mat-option>
              <mat-option value="Mother">Mother</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="38">
          <mat-form-field appearance="outline" class="input" fxFlex="100">
            <mat-label>Providers Address</mat-label>
            <textarea matInput cdkTextareaAutosize [(ngModel)]="pAddress" #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1" cdkAutosizeMaxRows="15"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="question-padding-1-2" fxFlex="100" fxLayout="row" fxLayoutGap="40px">
        <div fxFlex="40">
          <button mat-button class="blue left-align" [disableRipple]="true" (click)="onBrowseClick()" color="primary">
            Attach Doc <mat-icon> attach_file</mat-icon>
          </button>
          <input #fileUpload type="file" style="display:none;" (change)="onFileSelected($event, queIndex )"
            [multiple]="false" />
          <mat-chip-list aria-label="Fish selection" class="padding-top-chips">
            <mat-chip *ngFor="let attachment of attachments; let i = index">{{attachment[0].name.slice(0, 12) }}
              <mat-icon (click)="deleteAttach(i)">close</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
        <div fxFlex="40">
          <button mat-button class="left-align blue" (click)="getLocation()">
            <mat-icon>place</mat-icon> Add current location
          </button>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="card-heading  margin-top">
    <span>Policy Information</span>
  </div>
  <div class="pateint-info">
    <mat-card class="card" fxLayout="column">
      <div class="question-padding-0" fxLayout="row" fxFlex="100" fxLayoutGap="40px">
        <div fxFlex="40">
          <mat-form-field appearance="outline" class="date">
            <mat-label>Date of Accident</mat-label>
            <input matInput [matDatepicker]="dateOfActivity" placeholder="Date of Accident" [(ngModel)]="doa">
            <mat-datepicker-toggle matSuffix [for]="dateOfActivity"></mat-datepicker-toggle>
            <mat-datepicker #dateOfActivity></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="40">
          <mat-form-field appearance="outline" class="date">
            <mat-label>Date of Service</mat-label>
            <input matInput [matDatepicker]="dateOfService" placeholder="Date of Service" [(ngModel)]="dos">
            <mat-datepicker-toggle matSuffix [for]="dateOfService"></mat-datepicker-toggle>
            <mat-datepicker #dateOfService></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="question-padding-1" fxFlex="100" fxLayout="row" fxLayoutGap="40px">
        <div fxFlex="40">
          <mat-form-field appearance="outline" class="input">
            <mat-label> Service Performed </mat-label>
            <textarea matInput cdkTextareaAutosize placeholder="If auto accident the patient was"
              [(ngModel)]="sPerformed" #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="15"></textarea>
          </mat-form-field>
        </div>
        <div fxFlex="40">
          <mat-form-field appearance="outline" class="input">
            <mat-label> Place of Service </mat-label>
            <textarea matInput cdkTextareaAutosize placeholder="Place of Service" [(ngModel)]="service"
              #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="15"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="question-padding-1" fxFlex="100" fxLayout="row" fxLayoutGap="40px">
        <div fxFlex="40">
          <mat-form-field appearance="outline" class="input">
            <mat-label> Service Performed </mat-label>
            <textarea matInput cdkTextareaAutosize placeholder="If auto accident the patient was"
              [(ngModel)]="sPerformed" #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="15"></textarea>
          </mat-form-field>
        </div>
        <div fxFlex="40">
          <mat-form-field appearance="outline" class="input">
            <mat-label> Pay Provider </mat-label>
            <mat-select>
              <mat-option value="provider">Pay benefit to provider</mat-option>
              <mat-option value="me">Pay benefit to me</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="question-padding-1-2 border-top">
        <mat-checkbox class="check-text">Send claim updates on the registered mobile number</mat-checkbox>
      </div>
    </mat-card>
  </div>
  <div class="margin-box" fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="85" class="mat-elevation-z back right">
      <button mat-stroked-button class="button-blue" (click)="save()">
        Save & Exit
      </button>
    </div>
    <div fxFlex="15" class="mat-elevation-z submit">
      <button mat-raised-button class="button-blue-filled" [disableRipple]="true" color="primary" (click)="onSubmit()">
        Submit
      </button>
    </div>
  </div>
</div>
