<div fxHide.gt-xs class="benefits-detail-container mobile">
  <div class="header">
    <div class="back">
      <img type="img/png" alt="" src="./assets/back-icon.png" [routerLink]="['/benefits']" />
      <span [routerLink]="['/benefits']">Back</span>
    </div>
    <span class="top-header bold">Policy Detail</span>
  </div>

  <div class="content" *ngIf="policyData">
    <mat-card class="details-card">
      <mat-card-content>
        <p class="details"><span>Policy Id | </span><span>{{ policyData.policyId }}</span><span
            [ngClass]="{ 'claimed-status': policyData.policyStatus === 'Claimed', 'active-status': policyData.policyStatus === 'Active', 'lapse-status': policyData.policyStatus === 'About Lapse'}">
            <div
              [ngClass]="{ 'claimed': policyData.policyStatus === 'Claimed', 'active': policyData.policyStatus === 'Active', 'lapse': policyData.policyStatus === 'About Lapse'}">
            </div>
            {{ policyData.policyStatus }}
          </span></p>
        <p class="status"><span>{{ policyData.policyType }} </span></p>
      </mat-card-content>
    </mat-card>
    <mat-card class="info-card">
      <mat-card-content>
        <div class="pair">
          <p class="label">Owner Name</p>
          <p class="value">{{ policyData.owner.firstName }} {{ policyData.owner.lastName }}</p>
        </div>
        <div class="pair">
          <p class="label">Insured Name</p>
          <p class="value">{{ policyData.insured.firstName }} {{ policyData.insured.lastName }}</p>
        </div>
        <div class="pair">
          <p class="label">Premium Amount</p>
          <p class="value">{{ policyData.premiumDetails.amount }}</p>
        </div>
        <div class="pair">
          <p class="label">Payment Frequency</p>
          <p class="value">{{ policyData.premiumDetails.frequency }}</p>
        </div>
        <div class="pair">
          <p class="label">Payment Method</p>
          <p class="value">{{ policyData.premiumDetails.method }}</p>
        </div>
        <div class="pair">
          <p class="label">Insured DOB</p>
          <p class="value">{{ getDate(policyData.insured.dob) }}</p>
        </div>
        <div class="pair">
          <p class="label">Exp Date</p>
          <p class="value">{{ getDate(policyData.policyExpiryDate) }}</p>
        </div>
        <div class="pair">
          <p class="label">Address Type</p>
          <p class="value">{{ policyData.address[0].type }}</p>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="action-buttons" [hidden]="policyData.policyStatus === 'Claimed'">
      <button mat-raised-button class="claim-button" (click)="navigateToClaim()">Claim
      </button>
      <button mat-raised-button class="downloadClaim-button">Download Claim Form
      </button>
    </div>
  </div>
</div>

<div fxHide.xs class="benefits-detail-container desktop">
  <app-header [isHidden]="true"></app-header>
  <div class="content" *ngIf="policyData">
    <div class="bread-crumb" fxLayout="row">
      <div class="icon-adjust" (click)="goBacktoBenfits()">My Benefits <mat-icon>keyboard_arrow_right</mat-icon>
      </div>
      <div class="active">Policy detail
      </div>
    </div>
    <mat-card class="details-card">
      <mat-card-content>
        <div class="pair">
          <p class="label">Policy Id</p>
          <p class="value">{{ policyData.policyId }}</p>
        </div>
        <div class="pair">
          <p class="label">Status</p>
          <p class="value status">{{ policyData.policyStatus }}</p>
        </div>
        <div class="pair">
          <p class="label">Product</p>
          <p class="value">{{ policyData.policyType }}</p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="info-card">
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Details">
            <div class="pair">
              <p class="label">Owner Name</p>
              <p class="value">{{ policyData.owner.firstName }} {{ policyData.owner.lastName }}</p>
            </div>
            <div class="pair">
              <p class="label">Insured Name</p>
              <p class="value">{{ policyData.insured.firstName }} {{ policyData.insured.lastName }}</p>
            </div>
            <div class="pair">
              <p class="label">Premium Amount</p>
              <p class="value">{{ policyData.premiumDetails.amount }}</p>
            </div>
            <div class="pair">
              <p class="label">Payment Frequency</p>
              <p class="value">{{ policyData.premiumDetails.frequency }}</p>
            </div>
            <div class="pair">
              <p class="label">Payment Method</p>
              <p class="value">{{ policyData.premiumDetails.method }}</p>
            </div>
            <div class="pair">
              <p class="label">Insured DOB</p>
              <p class="value">{{ getDate(policyData.insured.dob) }}</p>
            </div>
            <div class="pair">
              <p class="label">Exp Date</p>
              <p class="value">{{ getDate(policyData.policyExpiryDate) }}</p>
            </div>
            <div class="pair">
              <p class="label">Address Type</p>
              <p class="value">{{ policyData.address[0].type }}</p>
            </div>
            <div class="pair">
              <p class="label">Email</p>
              <p class="value">{{ policyData.owner.email }}</p>
            </div>
          </mat-tab>

          <mat-tab label="Benefits">
            <div class="pair">
              <p class="label">Life insurance</p>
              <p class="value">and type setting industry</p>
            </div>
            <div class="pair">
              <p class="label">Life insurance</p>
              <p class="value">and type setting industry</p>
            </div>
            <div class="pair">
              <p class="label">Life insurance</p>
              <p class="value">and type setting industry</p>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>

    <div class="action-buttons" *ngIf="!policyData.policyClaimed">
      <button mat-raised-button class="claim-button" (click)="navigateToClaim()">Claim Insurance
      </button>
      <button mat-raised-button class="downloadClaim-button">Download Claim Form
      </button>
    </div>
  </div>
</div>
