.benefits-detail-container {
  .header {
    .back {
      width: 35%;
      display: inline-block;
    }

    .top-header {
      color: black;
      font-size: 16px;
    }

    margin: 20px 20px 30px;

    span {
      color: #0069b5;
      margin-left: 10px;
    }

    .bold {
      font-weight: 500;
      margin-left: 10px;
    }
  }

  .content {
    margin: 0;

    @media screen and (max-width: 600px) {
      margin: 20px;
    }

    .details-card,
    .info-card {
      border: 1px solid #fbffff;
      cursor: pointer;

      ::ng-deep .mat-card-header-text {
        margin: 0;
      }

      .status {
        font-size: 13px;
      }

      .details {
        font: 500 14px/normal Roboto, sans-serif;
        color: #052c51;

        .claimed-status {
          color: #2fadae;
          float: right;
        }

        .active-status {
          float: right;
          color: #6AA400;
        }

        .lapse-status {
          float: right;
          color: #D29D00;
        }

        .active {
          background: #6AA400;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          display: inline-block;
          margin-right: 3px;
          margin-bottom: 3px;
        }

        .lapse {
          background: #D29D00;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          display: inline-block;
          margin-right: 3px;
          margin-bottom: 3px;
        }

        .claimed {
          background: #2fadae;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          display: inline-block;
          margin-right: 3px;
          margin-bottom: 3px;
        }
      }
    }

    .info-card {
      margin-bottom: 20px;

      .pair {
        width: 50%;
        display: inline-block;
      }

      .label {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.57);
      }

      .value {
        color: #002c54;
      }
    }

    .claim-button {
      width: 100%;
      border: 1px solid #0069bb;
      border-radius: 6px;
      box-shadow: 0 2px 4px 0 #d3d3d3;
      background-color: #0069bb;
      cursor: pointer;
      color: #fff;
    }

    .downloadClaim-button {
      @extend .claim-button;
      background-color: transparent;
      color: #0069bb;
      border-color: #0069bb;
      margin-top: 20px;
    }
  }
}

.desktop {
  margin-bottom: 40px;

  .content {
    .bread-crumb {
      padding: 10px 0 25px 0;

      .icon-adjust {
        color: #a4a4a4;
        cursor: pointer;
        display: inline-flex;
        vertical-align: middle;

        .mat-icon {
          font-size: 20px;
        }
      }

      .active {
        color: #0069b5;
      }
    }

    .mat-card-content {
      margin: 20px 40px;

      .pair {
        display: inline-block;
        width: 20%;

        .label {
          font: 500 12px/normal Roboto, sans-serif;
          color: #73889a;
        }

        .value {
          font: 500 14px/normal Roboto, sans-serif;
          color: #052c51;

          &.status {
            color: #2fadae;
          }
        }
      }
    }

    .info-card {
      margin-top: 40px;

      .mat-card-content {
        .pair {
          width: 30%;
        }
      }

      ::ng-deep .mat-ink-bar {
        background-color: #052c51;
      }

      .mat-tab-label-active {
        color: #052c51;
      }
    }

    .action-buttons {
      padding-bottom: 20px;

      ::ng-deep .mat-checkbox-label {
        font: 500 10px/normal Roboto, sans-serif;
        color: #002c54;
      }

      ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
        background-color: #052c51;
      }

      button {
        width: 200px;
        border-radius: 6px;
        height: 36px;
        float: right;
        margin: 0;

        &.claim-button {
          background-color: #0069bb;
          margin-left: 20px;
        }
      }
    }
  }
}
