<div fxHide.gt-xs class="footer-wrapper">
    <mat-tab-group class="footer-tabs" [selectedIndex]="1">
        <mat-tab label="First">
            <ng-template mat-tab-label>
                <div fxLayout="column" fxLayoutAlign="center center" (click)="navigateTo('benefits')">
                    <img class="icon-bg-color" src="../../../../assets/group-3-copy.svg">
                    <span class="font-10">My Benefits</span>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Second">
            <ng-template mat-tab-label>
                <div fxLayout="column" fxLayoutAlign="center center" (click)="navigateTo('benefits')">
                    <img class="icon-bg-color-inactive" src="../../../../assets/earphone-icon.png">
                    <span class="font-10">My Preferences</span>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Third">
            <ng-template mat-tab-label>
                <div fxLayout="column" fxLayoutAlign="center center" (click)="navigateTo('contactUs')">
                    <img class="icon-bg-color-inactive" src="../../../../assets/group-5.png">
                    <span class="font-10">Customer Service</span>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
