.footer-wrapper {
    position: fixed;
    bottom: 0px;
    z-index: 2;
    width: 100%;
    background-color: #fff;
    
    .icon-bg-color {
        background: #ef0000;
        border-radius: 15px;
        padding: 10px;
    }
    .icon-bg-color-inactive {
        border-radius: 20px;
        padding: 10px;
    }
    .mat-tab-label {
        height: 64px;
        width: 33%;
    }
    .mat-tab-labels {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }
    .mat-tab-group.mat-primary .mat-ink-bar {
        background-color: transparent;
    }
    .font-10 {
        font-size: 10px;
    }
}
