.confirmation-container {
  background-color: #F8F8F8;
}

.confirmation-header {
  padding: 30px 10px 20px 10px;
  text-align: center;
}

.green {
  color: #2fadae;
  font-size: 52px;

  &.mat-icon {
    height: 52px;
    width: 52px;
  }
}

.cong-text {
  font-size: 16px;
  color: #2fadae;
}

.button-blue-filled {
  width: 100px;
  height: 40px;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 #d3d3d3;
  background-color: #0069bb;
}

.button-blue {
  width: 100px;
  height: 40px;
  border-radius: 6px;
  border-color: #0069bb;
  color: #0069bb;
}

.sub-text {
  font-size: 14px;
  color: #002c51;
}

.sub-title {
  padding: 20px 0;
}

.card-header {
  background-color: #fbffff;
  border: solid 1px #e8f8f8;
}

.confirmation-box {
  text-align: center;
  margin: 15px 20px 10px 20px;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(211, 211, 211, 0.5);
  background-color: #ffffff;
}

.padding-box {
  padding: 20px;
}

.button-box {
  padding: 20px;
}

.right {
  text-align: right;
}

.margin-left {
  margin-left: 20px;
}

.back {
  .mat-stroked-button {
    color: #0069bb;
    border-color: #0069bb;
  }
}

.submit {
  width: 100%;

  .mat-raised-button {
    background-color: #0069bb;
  }
}

.button-box-submit {
  padding: 10px 20px 40px 20px;
}


.fs-14 {
  font-size: 14px;
  font-weight: 300;
  color: #73889a;
  text-align: left;
  margin-top: 0;
}

.label-color {
  padding-bottom: 5px;
  font-weight: 500;
  color: #73889a;

}

.conf-number {
  font-weight: 500;
  color: #73889a;
  margin: 0 0 10px 0;
}

.number {
  font-weight: 500;
  color: #002c51;
  margin: 0;
}
