<app-header [isHidden]="true" fxHide.xs></app-header>
<div class="confirmation-container" *ngIf="policyData">
  <div class="confirmation-header">
    <mat-icon class="green">check_circle</mat-icon>
    <p class="cong-text">Congratulations !</p>
    <p class="sub-text">Your policy is successfully claimed</p>
  </div>
  <div class="confirmation-box">
    <div class="card-header padding-box">
      <p class="conf-number">Confirmation Number</p>
      <p class="number">Confirmation 40768</p>
    </div>
    <div fxLayout="row" class="padding-box">
      <div fxFlex="50">
        <div class="label-color">Policy ID</div>
        <div>{{  policyData.policyId }}</div>
      </div>
      <div fxFlex="50">
        <div class="label-color">Product Type</div>
        <div>{{ policyData.policyType }}</div>
      </div>
    </div>
    <p class="sub-title padding-box fs-14">Your claim has been submitted. Please print
      and retain a copy of the claim form and
      authorisation of release of health information
      for your record. Please use the confirmation
      number provided above for inquiries related
      to request
    </p>
  </div>
  <div class="button-box-submit" fxLayout="row" fxHide.gt-xs>
    <div fxFlex="50" class="mat-elevation-z back">
      <button mat-stroked-button (click)="navigateTo()">
        Back to My benefits
      </button>
    </div>
    <div fxFlex="50" class="mat-elevation-z right submit">
      <button mat-raised-button color="primary" (click)="generatePDF()">
        Download receipt
      </button>
    </div>
  </div>
  <div class="button-box-submit" fxLayout="row" fxHide.xs>
    <div fxFlex="50" class="mat-elevation-z back right">
      <button mat-stroked-button (click)="navigateTo()">
        Back to My benefits
      </button>
    </div>
    <div fxFlex="50" class="mat-elevation-z margin-left submit">
      <button mat-raised-button color="primary" (click)="generatePDF()">
        Download receipt
      </button>
    </div>
  </div>
</div>
