.table-wrapper {
    table
{
  width: 100%;
}

.hyperLink {
  text-decoration: none;
  cursor: pointer;
  color: #2fadae;
}


.mat-elevation-z8 {
  box-shadow: 0 3px 8px 0 rgba(88, 84, 84, 0.19);
}
th {
    background-color: #f9f9f9;
    color: #73889a;
}

td {
    color:#052c51;
}
td.mat-cell:last-of-type {
    padding-right: 0;
}

.menu-button {
    color: #ef0000;
    min-width: 0;
}

::ng-deep .mat-menu-item {
    color: #0069bb;
}

}
