<div class="table-wrapper paddingTop15">
    <div>
        <table aria-describedby="common-table" mat-table [dataSource]="dataSource">
            <ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
                <ng-container>
                    <div>
                        <th scope="col" mat-header-cell *matHeaderCellDef>
                            {{ column.displayName }} </th>
                    </div>
                    <ng-container *matCellDef="let element; let i = index">
                        <td mat-cell>
                            <span [ngClass]="{'hyperLink' : column.hyperLink }">

                                <span
                                    *ngIf="column['type'] === columnTypes.NUMBER || column['type'] === columnTypes.STRING">
                                    {{ element[column.name] }}
                                </span>
                                <span *ngIf="column['type'] === columnTypes.DATE">
                                    {{ element[column.name] | date }}
                                </span>
                                <span *ngIf="column['type'] === columnTypes.MENU">
                                    <button mat-button [matMenuTriggerFor]="menu" class="menu-button">...</button>
                                    <mat-menu #menu="matMenu">
                                        <button *ngIf="policy" class="menu-list" mat-menu-item>Illness claim</button>
                                        <button *ngIf="policy" class="menu-list" mat-menu-item>Critical Claim</button>
                                        <button class="menu-list" mat-menu-item>Download Claim Form</button>
                                        <button class="menu-list" mat-menu-item (click)="navigateToDetails(element)">View</button>
                                    </mat-menu>
                                </span>
                            </span>
                        </td>
                    </ng-container>
                </ng-container>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="getDisplayColumnsList(); sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: getDisplayColumnsList();"></tr>
        </table>
    </div>
</div>
