.benefits-container {
    .header {
        margin: 20px 20px 30px;
        span {
            font: 500 16px/normal Roboto, sans-serif;
            color: #052c51;
            margin-left: 10px;
        }
    }
    ::ng-deep .mat-tab-header {
        margin: 0 auto;
        .mat-tab-header-pagination {
            display: none;
        }
        .mat-tab-label {
            border: 1px solid #052c51;
            color: #052c51;
            border-radius: 2px;
            min-width: 160px;
            opacity: 1;
            &.mat-tab-label-active {
                color: #fff;
                background: #0069b5;
            }
        }
        .mat-ink-bar {
            background: none;
        }
    }
    .content {
        margin: 20px;
        padding-bottom: 35px;
        .benefits-card {
            border: 1px solid #D3D3D3;
            margin-bottom: 20px;
            cursor: pointer;
            ::ng-deep .mat-card-header-text {
                margin: 0;
            }
            .name {
                font: 500 16px/normal Roboto, sans-serif ;
                color: #052c51;
            }
            .statusType {
                font-size: 15px;
                color: #73889a;
            }
            .details {
                font-size: 13px;
                color: rgba(0,0,0,0.57);
                width: 80%;
            }
            .claimed {
                color: #2fadae;
                float: right;
            }
            .status {
                color: #6AA400;
                float: right;
            }
            .lapse {
                color: #D29D00;
                float: right;
            }
            .content-flex {
                display: flex;
                height: 30px;
                justify-content: space-between;
            }
            .circle {
                background: #6AA400;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                display: inline-block;
                margin-right: 3px;
                margin-bottom: 3px;
            }
            .lapse-circle {
                background: #D29D00;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                display: inline-block;
                margin-right: 3px;
                margin-bottom: 3px;
            }
            .claimed-circle {
                background: #2fadae;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                display: inline-block;
                margin-right: 3px;
                margin-bottom: 3px;
            }
            ::ng-deep .mat-card-header {
                display: inline-block;
                width: 65%;
                height: 22px;
            }
            .view-button {
                float: right;
                border-radius: 4px;
                background-color: #0069b5;
                color: #fff;
                padding: 4px 10px;
                border: 1px solid #0069b5;
                cursor: pointer;
                height: 25px;
                margin-top: 5px;
            }
        }
    }
    &.desktop {
        ::ng-deep .mat-tab-header {
            margin: 0 0 20px;
            border: none;
        }
    }
}
