<div fxHide.gt-xs class="benefits-container mobile">
    <div class="header">
        <img type="img/png" alt="" src="./assets/benefits-icon.png" />
        <span>My Benefits</span>
    </div>
    <div class="tabs">
        <mat-tab-group>
            <mat-tab label="Policy">
                <div class="content">
                    <mat-card class="benefits-card" *ngFor="let list of activePolicyList" (click)="navigateToPolicyDetails(list.policyId)">
                        <mat-card-header>
                            <mat-card-title class="name">
                                {{ list.owner.firstName }} {{ list.owner.lastName }}
                            </mat-card-title>

                        </mat-card-header>
                        <span [ngClass]="{'status': list.policyStatus === 'Active', 'lapse': list.policyStatus !== 'Active' }">
                            <div [ngClass]="{'circle': list.policyStatus === 'Active', 'lapse-circle': list.policyStatus !== 'Active' }"></div>{{ list.policyStatus }}
                        </span>
                        <mat-card-content>
                            <span class="statusType">{{ list.policyType }}</span>
                            <div class="content-flex">
                                <p class="details">
                                    <span>Policy ID : </span>
                                    <span>{{ list.policyId }}</span>
                                </p>
                                <button class="view-button">View</button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="Claimed">
                <div class="content">
                    <mat-card class="benefits-card" *ngFor="let list of claimedPolicyList" (click)="navigateToPolicyDetails(list.policyId)">
                        <mat-card-header>
                            <mat-card-title class="name">
                                {{ list.owner.firstName }} {{ list.owner.lastName }}
                            </mat-card-title>
                        </mat-card-header>
                        <span class="claimed">
                            <div class="claimed-circle"></div>{{ list.policyStatus }}</span>
                        <mat-card-content>
                            <span class="statusType">{{ list.policyType }}</span>
                            <div class="content-flex">
                                <p class="details">
                                    <span>Policy ID : </span>
                                    <span>{{ list.policyId }}</span>
                                </p>
                                <button class="view-button">View</button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<div fxHide.xs class="benefits-container desktop">
    <app-header></app-header>
    <mat-tab-group>
        <mat-tab label="Policy">
            <app-table [columns]="benefitColumns" [policy]="true" [dataSet]="activePolicyList" (getDetails)="navigateToPolicyDetails($event.policyId)"></app-table>
        </mat-tab>
        <mat-tab label="Claimed">
            <app-table [columns]="benefitColumns" [policy]="false" [dataSet]="claimedPolicyList" (getDetails)="navigateToPolicyDetails($event.policyId)"></app-table>
        </mat-tab>
    </mat-tab-group>

</div>