<div class="contact-us">
        <h2 class="contact-us__title">Contact us</h2>
        <div class="contact-us__content" fxLayout="auto">
            <div class="contact-us__content_left" fxFlex.gt-xs="50%" fxFlex.xs="100%" >
                <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
                    <div>
                        <mat-form-field class="form-field-style" appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput name="name" placeholder="name" ngModel>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="form-field-style" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput name="email" placeholder="Email" type="text" ngModel>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="form-field-style" appearance="outline">
                            <textarea matInput name="subject" placeholder="subject" rows="3" cols="50" ngModel></textarea>
                        </mat-form-field>
                    </div>
                    <button mat-flat-button mat-raised-button type="submit" class="contact-submit-btn">Submit</button>
                </form>
            </div>
            <div class="contact-us__content_right" fxFlex.gt-xs="50%" fxFlex.xs="100%">
                <div class="contact-us__content_right_mailto">
                    <mat-label>Email Us:</mat-label>
                    <a href="mailto:jsmith@example.com">jsmith@example.com</a>
                </div>
                <div class="contact-us__content_right_phoneno">
                    <mat-label>Contact Us:</mat-label>
                    <a href="tel:1-408-555-5555">1-408-555-5555</a>
                </div>
            </div>
        </div>
    </div>