
.contact-us {
    display: flex;
    flex-direction: column;
    background: #fff;
    
    &__title {
        padding: 0 15px;
        color: #052c51;
        font-size: 16px;

        @media screen and (max-width: 600px) {
            padding: 0;
         }
    }

    @media screen and (max-width: 600px) {
       padding: 20px;
       height: 100%;
    }

    &__content {
        display: flex;
        flex-grow: 1;

        @media screen and (max-width: 600px) {
            flex-direction:  column !important;
        }

        &_left {
            padding: 0 30px 20px 15px;
            border-right: 1px solid #d3d3d3;

            .form-field-style {
                width: 100%;
            }

            .contact-submit-btn {
                width: 130px;
                border: 1px solid #0069bb;
                border-radius: 6px;
                box-shadow: 0 2px 4px 0 #d3d3d3;
                background-color: #0069bb;
                cursor: pointer;
                color: #fff;

                @media screen and (max-width: 600px) {
                    width: 100%;
                    box-shadow: none;
                }
            }

            @media screen and (max-width: 600px) {
                flex-grow: 1;
                padding: 0 0 30px;
                border-right: none;
                border-bottom: 1px solid #d3d3d3;
            }
        }


        &_right {
            padding: 0 15px 20px 30px;

            &_mailto {
                padding-bottom: 36px;
            }

            mat-label {
                font-size: 16px;
            }

            a {
                color: #0069b5;
                text-decoration: none;
                padding-left: 8px;
                font-size: 16px;
            }

            @media screen and (max-width: 600px) {
                flex-grow: 1;
                padding: 20px 0 0;
                min-height: 200px;
            }
        }

        @media screen and (max-width: 600px) {
            flex-direction: column;
        }
    }
}