/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import '~@angular/material/prebuilt-themes/indigo-pink.css';


.radio {
  .mat-radio-outer-circle {
    border: solid 1px #0069c1;
  }

  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #0069c1;
    border-width: 5px;
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: white;
  }

  .mat-radio-container{
    height: 15px;
    width: 15px;
  }
  .mat-radio-outer-circle{
    height: 15px;
    width: 15px;
  }
  .mat-radio-inner-circle{
    height: 15px;
    width: 15px;
  }
  .mat-radio-button .mat-radio-ripple{
    height: 30px; /*double of your required circle radius*/
    width: 30px;  /*double of your required circle radius*/
    left: calc(50% - 15px); /*'15px'-same as your required circle radius*/
    top: calc(50% - 15px); /*'15px'-same as your required circle radius*/
  }

}

.mat-simple-snackbar {
  line-height: 40px;
}
@media screen and (max-device-width: 768px) {
  .mat-snack-bar-handset  {
    position: fixed !important;
    bottom: 80px;
  }
}
@media screen and (min-device-width: 768px) {
  .mat-snack-bar-container {
    position: fixed !important;
    top: 40px;
    right: 0px;
  }
  // .mat-snack-bar-handset  {
  //   position: fixed !important;
  //   top: 100px;
  //   right: 0px;
  // }
}
