.full-width-dialog {
  max-width: 100vw !important;

  .mat-dialog-container {
    padding: 0;
  }

  .mat-dialog-content {
      max-height: 100%;
  }
}

.close{
    text-align: right;
    padding: 10px 10px 0 0;
}

.padding-content {
    padding: 15px;
    border-bottom: 1px solid #e8f8f8;
}

.label {
    color: #a4a4a4;
}

.value {
    color: #002c54;
}