<div class="manage-profile-wrapper">
  <div class="close">
    <mat-icon (click)="closeDialog()"> close </mat-icon>
  </div>
  <mat-dialog-content>
    <div fxLayout="row" class="padding-content">
      <div fxFlex="60">
        <span class="label">Gender</span><br>
        <span class="value">{{previewObject.Gender}}</span>
      </div>
      <div fxFlex="40">
        <span class="label">Full Name</span><br>
        <span class="value">{{ previewObject.FullName }}</span>
      </div>
    </div>
    <div fxLayout="row" class="padding-content">
      <div fxFlex="100">
        <span class="label">Relationship with Employee</span><br>
        <span class="value">{{ previewObject.Relationship}}</span>
      </div>
    </div>
    <div fxLayout="row" class="padding-content">
      <div fxFlex="60">
        <span class="label">Date of Birth </span><br>
        <span class="value">{{previewObject.dob}}</span>
      </div>
      <div fxFlex="40">
        <span class="label">Attached Doc</span><br>
        <span class="value">{{previewObject.attachDoc}}</span>
      </div>
    </div>
    <div fxLayout="row" class="padding-content">
      <div fxFlex="60">
        <span class="label">Date of Accident</span><br>
        <span class="value">{{this.previewObject.doa}}</span>
      </div>
      <div fxFlex="40">
        <span class="label">Date of Service</span><br>
        <span class="value">{{this.previewObject.dos}}</span>
      </div>
    </div>
    <div fxLayout="row" class="padding-content">
      <div fxFlex="60">
        <span class="label">Place of Service</span><br>
        <span class="value">{{this.previewObject.servicePlace}}</span>
      </div>
      <div fxFlex="40">
        <span class="label">Service Performed</span><br>
        <span class="value">{{this.previewObject.servicePerformed}}</span>
      </div>
    </div>
    <div fxLayout="row" class="padding-content">
      <div fxFlex="100">
        <span class="label">Pay Provider</span><br>
        <span class="value">{{this.previewObject.provider}}</span>
      </div>
    </div>
  </mat-dialog-content>
</div>
