.login-wrapper {
    height: 100%;
    .logo-text {
        color: #fff;
        font-size: 35px;
        font-weight: 500;
        line-height: 1;
        margin-top: 10px;
        p {
            margin: 0;
        }
    }
    .logo-img {
        width: 70%;
    }
    .top-section {
        padding: 2em 0 0 1.5em;
    }
  .login-form {
    .login-section {
        background-color: #fff;
        border-radius: 6px;
        text-align: center;
        padding: 26px;
        .form-field-style {
            width: 100%;
        }
    }
  }
  button.login-btn {
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(169, 169, 169, 0.5);
    background-color: #0069b5;
    color: #fff;
    width: 100%;
  }
  p.margin-top-20 {
    margin-top: 2em;
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
    color: #0069b5;
  }
  .font-10 {
      font-size: 10px;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) { 
    background: url("../../../../assets/home.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    .login-section {
        margin: 60% 2em 0 1.5em;
    }
  }
  @media screen and (min-device-width: 1200px) {
    background: url("../../../../assets/home-desktop.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    .login-section {
        width: 30%;
        margin: 2em auto 0;
    }
    .top-section {
        text-align: center;
    }
    .logo-img {
        width: 10%;
    }
    .logo-text {
        margin-top: 5em;
        font-size: 2.5em;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
    }
    .login-form {
      padding-bottom: 7em;
    }
  }
  .login-error {
    margin-bottom: 15px;
  }
}
