<div class="login-wrapper">
    <div class="top-section">
        <img class="logo-img" src="../../../../assets/trans-logo.png"/>
        <div fxShow.sm="false" fxShow.gt-md="false" fxHide.gt-xs  class="logo-text">
            <p>Protection you</p>
            <p>can Count on</p>
        </div>
        <div fxShow.md="true" fxShow.xs="false" class="logo-text">
            <p>Protection you can</p>
            <p>Count on</p>
        </div>
    </div>
    <form [formGroup]="loginForm" class="login-form">
        <div class="login-section">
            <div>
                <mat-form-field class="form-field-style" appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input matInput formControlName="username" placeholder="User name">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-field-style" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" placeholder="Password" type="password">
                </mat-form-field>
            </div>
            <mat-error class="login-error" *ngIf="showAuthError">Please enter valid credentials</mat-error>
            <button mat-flat-button class="login-btn" (click)="navigateToBenefits()"
                [disabled]="!loginForm.valid">Login</button>
            <p class="margin-top-20 font-10">Forgot User name or Password? <a href="#" class="click-link">Click here</a></p>
        </div>
    </form>
</div>